Assignments/DotNet/22 - WCF Assignment - 2 DOTNET_226958_Raguvaran/WCF/EmployeeService/MVCClient/Connected Services/EmployeeServiceReference/EmployeeService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EmployeeService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EmployeeService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EmployeeDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Designation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeDetail" nillable="true" type="tns:EmployeeDetail" />
  <xs:complexType name="ArrayOfEmployeeDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeDetail" nillable="true" type="tns:EmployeeDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeDetail" nillable="true" type="tns:ArrayOfEmployeeDetail" />
</xs:schema>