Assignments/DotNet/22 - WCF Assignment - 2 DOTNET_226958_Raguvaran/WCF/WeatherService/WeatherConverter/Connected Services/WCFHostedWindowsService/WeatherService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="celciustofarenheit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="temp" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="celciustofarenheitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="celciustofarenheitResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="farenheittocelcius">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="temp" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="farenheittocelciusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="farenheittocelciusResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getmessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getmessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getmessageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>